
<style>
table, th, td {
    border: 1px solid black;
}
</style>
<body>
<table style="width:60%" class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Salary</th>
      <th>Date of Birth</th>
      <th width=275 align="center">Action</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td align="center">{{ employee._id }}</td>
    <td>{{ employee.fname }}</td>
    <td>{{ employee.lname }}</td>
    <td align="right">{{ employee.salary | currency:'INR':'true' }}</td>
    <td align="right">{{ employee.DOB }}</td>
    <td width=275>
      <a class="btn btn-info" href="#">Detail</a>
      <a class="btn btn-success" href="#">Edit</a>
      <a class="btn btn-danger" href="#">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
